*{
    box-sizing: border-box;
}
body {
  margin: 0;
}

.header{
  
  padding: 2.0833vw;
  text-align: center;
  margin: 0;
  color: #ECDBBA;
  font-family: helvetica sans-serif;
  background: #191919;
  font-size: 1.0416vw;

}

.Nav{
	margin-top: 1.5625vw;
	display: flex;
	font-size: 1.5625vw;
	justify-content: center;
	align-items: center;

}


a:link{
	text-decoration-line: none;
	color: white;
}

a:hover{
	color: royalblue;
	text-decoration-line: underline;
}

a:active {
  text-decoration-line: underline;
  color: white;
}

#sponsor{
	padding-bottom: 0.5208vw;
	margin-right: 2.083vw;
	padding-bottom: 1%;
	letter-spacing: 0.05208vw;
	font-family: "Segoe UI";
	font-weight: normal;
	color: #707070;
}

#outreach{
	padding-bottom: 1%;
	margin-left: 7.291vw;
	letter-spacing: 0.05208vw;
	font-family: "Segoe UI";
	font-weight: normal;
	color: #707070;	
}


#outreach a:visited{
	color: #707070;
}

#media{
	padding-bottom: 1%;
    margin-right: -5.2083vw;
    letter-spacing: 0.05208vw;
	font-family: "Segoe UI";
	font-weight: normal;
	color: white;

}

#media a:visited{
	color: royalblue;
}

#media a:hover{
	color: royalblue;
}

#media a:active{
	text-decoration-line: underline;
}

.content
{ 
    font-size: 1.302vw;
    justify-content: center;
    font-family: "arial sans-serif";
    align-items: center;
    text-align: center;
    color: #413F42;

}

img{
	padding: 1%;
	position: relative;
    height: 13.02vw;
	width: 13.02vw;
	border-radius: 0.4166vw;
	border-style: solid;
    border-width: 0.05vw;
    border-color: rgba(15, 0, 0, 0.425);
   }

.row1
{
	display: inline;
}

#TOI{
	position: relative;
	left: 18.2291vw;

}

#TOI:hover{
    box-shadow: 0 0.4166vw  0.833vw rgba(0,0,0,0.4);
}

#Random{
	position: relative;
	left: 31.25vw;  
}


#Random:hover{
	box-shadow: 0 0.4166vw  0.833vw rgba(0,0,0,0.4);
    
}

#Db
{
	position: relative;
	left: 44.2703vw;  
    
}

#Db:hover{
    box-shadow: 0 0.4166vw  0.833vw rgba(0,0,0,0.4);
}

#Hitvada{
	position: relative;
	left: 44.2703vw;
}

#Hitvada:hover{
    box-shadow: 0 0.4166vw  0.833vw rgba(0,0,0,0.4);
}

#Lokmat{
	position: relative;
	left: 31.25vw;
    
}


#Lokmat:hover{
   box-shadow: 0 0.4166vw  0.833vw rgba(0,0,0,0.4);
}

.foot{

  background-color: #242424;
  padding: 5.20833vw;
  margin: 0;
  color: navajowhite;
  font-family: "Segoe UI";
  margin-top: 26.04vw;
  margin-bottom: 5.20833vw;  
}

#link{
	text-decoration-line: none;
	color: steelblue;
}


pre{
	font-size: 2.0833vw;
}

.Rajat{
	align-content: centre;

}
