body {
  margin: 0;
}

.header{
  
  padding: 2.0833vw;
  text-align: center;
  margin: 0;
  color: wheat;
  font-family: helvetica sans-serif;
  background: black;
  font-size: 1.0416vw;

}


.Nav{
  margin-top: 1.5625vw;
  display: flex;
  font-size: 1.5625vw;
  justify-content: center;
  align-items: center;

}

a:link{
  text-decoration-line: none;
}

a:hover{
  color: royalblue;
  text-decoration-line: underline;
}

a:active {
  text-decoration: underline;
}

#sponsor{
  padding-bottom: 0.52083vw;
  margin-right: 2.0833vw;
  padding-bottom: 1%;
  letter-spacing: 0.052083vw;
  font-family: "Segoe UI";
  font-weight: normal;
  color: #707070;
}

#sponsor a:active{
  color: #royalblue;
}
#outreach{
  padding-bottom: 1%;
  margin-left: 7.2916vw;
  letter-spacing: 0.052083vw;
  font-family: "Segoe UI";
  font-weight: normal;
 
  
}

#outreach a:visited{
  color: royalblue;
  text-decoration-line: underline;
}


#media{
  padding-bottom: 1%;
    margin-right: -5.208vw;
    letter-spacing: 0.05208vw;
  font-family: "Segoe UI";
  font-weight: normal;
  color: #707070;

}

#media a:visited{
  color: #707070;
}

.content
{ 
    font-size: 1.302vw;
    justify-content: center;
    font-family: "Segoe UI";
    align-items: center;
    text-align: center;
}

img{
    position: absolute;
    display: inline-flex;
    height: 10.9375vw;
    width: 10.9375vw;
    margin-top: 1.5625vw;
    border: 0.05208vw solid;
    border-radius: 0.4166vw;
    padding: 1%;   
}

img:hover{
   box-shadow: 0 0.4166vw 0.833vw 0 rgba(0,0,0,0.4);
}

.d2c{
    padding-left: 44.27vw;

}


.content2
{ 
    font-size: 1.302vw;
    justify-content: center;
    font-family: "Segoe UI";
    align-items: center;
    text-align: center;
    padding-top: 15.625vw;
}

.law{
     padding-left: 44.27vw;


}


.content3
{ 
    font-size: 1.3028vw;
    justify-content: center;
    font-family: "Segoe UI";
    align-items: center;
    text-align: center;
    padding-top: 15.625vw;
}

.nlu{
     padding-left: 44.27vw;
}


.content4
{ 
    font-size: 1.3028vw;
    justify-content: center;
    font-family: "Segoe UI";
    align-items: center;
    text-align: center;
    padding-top: 15.625vw;
}

.silicon{
    padding-left: 23.4375vw;
}

.entre{
      padding-left: 44.27vw;      
}

.know{  
     padding-left: 65.104vw; 
} 

.content5
{ 
    font-size: 1.302vw;
    justify-content: center;
    font-family: "Segoe UI";
    align-items: center;
    text-align: center;
    padding-top: 15.625vw;
}

.orange{
      padding-left: 44.27vw;      
}

.foot{

  background-color: #242424;
  padding: 5.208vw;
  margin: 0;
  color: navajowhite;
  font-family: "Segoe UI";
  margin-top: 26.041vw;
  margin-bottom: 5.208vw;  
}

#link{
  text-decoration-line: none;
  color: steelblue;
}


pre{
  font-size: 1.5625vw;
}

.Rajat{
  align-content: centre;

}
