
*{
    box-sizing: border-box;
}
body {
  margin: 0;
}

.header{
  
  padding: 2.0833vw;
  text-align: center;
  margin: 0;
  color: wheat;
  font-family: helvetica sans-serif;
  background: black;
  font-size: 1.0416vw;

}

.Nav{
  margin-top: 1.5625vw;
  display: flex;
  font-size: 1.5625vw;
  justify-content: center;
  align-items: center;

}


a:link{
  text-decoration-line: none;
}

a:hover{
  color: royalblue;
  text-decoration-line: underline;
}

#sponsor{
  padding-bottom: 0.5208vw;
  margin-right: 2.0833vw;
  padding-bottom: 1%;
  letter-spacing: 0.05208vw;
  font-family: "Segoe UI";
  font-weight: normal;
}

#sponsor a:visited{
  color: steelblue;
  text-decoration-line: underline;
}
#sponsor a:active{
  color: royalblue;
}

#outreach{
  padding-bottom: 1%;
  margin-left: 7.291vw;
  letter-spacing: 0.05208vw;
  font-family: "Segoe UI";
  font-weight: normal;
  color: #707070;
  
}

#outreach a:visited{
  color: #707070;
}

#media{
  padding-bottom: 1%;
    margin-right: -5.208vw;
    letter-spacing: 0.05208vw;
  font-family: "Segoe UI";
  font-weight: normal;
  color: #707070;

}

#media a:visited{
  color: #707070;
}

.content
{ 
    font-size: 1.302vw;
    justify-content: center;
    font-family: "Segoe UI";
    align-items: center;
    text-align: center;
}

img{
    position: absolute;
    display: inline-flex;
    height: 10.9375vw;
    width: 10.9375vw;
    margin-top: 1.5625vw;
    border: 0.05208vw solid;
    border-radius: 0.4166vw; 
    border-color: rgba(15, 0, 0, 0.425);
    padding: 1%; 
  
}

img:hover{
   box-shadow: 0 0.4166vw 0.8333vw 0 rgba(0,0,0,0.4);
}

.sbi{
      
     padding-left: 23.4375vw; 
     margin-top: 2.604vw;
}
.coal{
     padding-left: 44.27vw;
      margin-top: 2.604vw;
      justify-content: center;
      align-items: center;

}

.oil{
     padding-left: 65.104vw;
     margin-top: 2.604vw;
}


.row2{
      padding-top: 13.02vw;

}

.pnaf{
      padding-left: 23.4375vw;

}

.pari{
     padding-left: 44.27vw;

}   


.hero{
     padding-left: 65.104vw;
  }



.row3{
     padding-top: 13.02vw;
}


.moil{
      padding-left: 23.4375vw;

}

.canara{
     padding-left: 44.27vw;

}   


.imerys{
     padding-left: 65.104vw;
  }

.column{
     margin-bottom: 13.02vw;
     padding-top: 13.02vw;
     padding-left: 44.27vw;
    
} 

.content2{

    position: absolute;
    margin-top: 1.5625vw; 
    font-size: 1.302vw;
    font-family: "Segoe UI";
    padding-left: 44.27vw;
    
    
} 

.row4{
     padding-top: 4.166vw;
     padding-bottom: -5.208vw;
}

.ib{
      padding-left: 23.4375vw;

}


.torrin{
     padding-left: 44.27vw;

}   
    
.ias{
     padding-left: 65.104vw;
  }

.row5{
      padding-top: 15.625vw;

  }

.di{
   padding-left: 33.85vw;

} 


.hit{
     padding-left: 54.68vw;
}

.content3{
    position: absolute;
    font-size: 1.302w;
    font-family: "Segoe UI";
    padding-left: 44.27vw;
    padding-bottom: 15.625vw;
    margin-top: 13.322vw;

}

.google{
         padding-bottom: 10.416vw;  
         padding-left: 44.27vw;
         margin-top: 17.1875vw;
}

.content4{
    position: absolute;
    font-size: 1.302vw;
    font-family: "Segoe UI";
    padding-left: 46.875vw;
    margin-top: 5.2083vw;
    
}

.row6{
   padding-top: 7.8125vw;
}

.ccd{
     padding-left: 33.854vw;
}


.itc{
      padding-left: 54.6875vw;
    
}

.content5{
    position: absolute;
    font-size: 1.302vw;
    font-family: "Segoe UI";
    padding-left: 44.27vw;
    margin-top: 15.625vw;
    
}

.row7{
      
     padding-top: 18.229vw;

}
.mii{
      padding-left: 23.4375vw;

}

.tie{
     padding-left: 44.27vw;

}   
  
.civn{
     padding-left: 65.104vw;
  }


.row8{
      
     padding-top: 13.02vw

}
.digin{
      padding-left: 23.4375vw;

}

.yuva{
     padding-left: 44.27vw;

}   

.student{
     padding-left: 65.104vw;
  }

.vnit{
      padding-top: 13.02vw;
      padding-left: 44.27vw;

}

.foot{

  background-color: #242424;
  padding: 5.2083vw;
  margin: 0;
  color: navajowhite;
  font-family: "Segoe UI";
  margin-top: 26.04vw;
  margin-bottom: 5.2083vw;  
}

#link{
  text-decoration-line: none;
  color: steelblue;
}


pre{
  font-size: 1.5625vw;
}

.Rajat{
  align-content: centre;

}
